@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    @apply antialiased scroll-smooth bg-main-white text-main-black dark:bg-main-black dark:text-main-white;
  }
  header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 100;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr min(1440px, 100%) 1fr;
    grid-template-rows: 48px minmax(calc(100vh - 84px), auto) 36px;
  }
  .wrapper > * {
    grid-column: 2;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  body {
    --sb-track-color: #f3f3f3;
    --sb-thumb-color: #171717;
    --sb-size: 4px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
  }
}
